// TODO: migrate file to tailwind

:host {
    border-radius: 20px;
    border: 2px solid black;
}

.sprite-wrapper {
    top: 0;
    right: 0;
    justify-self: center;
    height: 130px;
    width: 130px;

    .sprite {
        height: 100%;
        width: 100%;

        background-position: center;
        background-size: contain;
        image-rendering: pixelated;
    }
}

.pokedex-screen {
    background-color: #e0e0e0;
    padding: 20px;
    display: contents;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.pokemon-container {
    background-color: #f0f0d8;
    width: 130px;
    height: 130px;
    text-align: center;
    border: 2px solid #ccc;
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            15% 100%,
            0 85%);
}

.pokemon-id {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.small-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.red {
    background: radial-gradient(#da181f, #b90a0a);
}