@if (loader.isLoading()) {
<div class="fixed inset-0 z-[9999] flex items-center justify-center bg-black/50 backdrop-blur-sm">
    <div class="relative w-20 h-20 border-4 border-black rounded-full bg-white animate-spin overflow-hidden shadow-2xl">
        <div class="absolute top-0 w-full h-1/2 bg-red-600 border-b-4 border-black"></div>
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-6 h-6 bg-white border-4 border-black rounded-full z-10">
        </div>
    </div>
</div>
}